.title {
    color: var(--white, #FFF);
     font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .viewAllButton {
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    gap: 0.625rem;
    border-radius: 0.5rem;
    border: 1.5px solid var(--secondary-dark-200, #0f2757);
    background: var(--secondary-dark-50, #13316c);
    color: var(--white, #fff);
    text-align: center;
    /* XS/Bold */
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }