:root {
  --background-main: #050E1E;
  --border-main:#0C1F45;
 }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif !important;
  background-color:var(--background-main) !important;
  z-index: 10;
}
a {
  color: inherit;
  text-decoration: none;
}
.dropdown-menu{
  background-color: #0f2757 !important;
  z-index: 999;
  position: absolute;
}
.dropdown-item{
  color:#fff !important;
  background-color: #0f2757 !important;
}

.dropdown-item:hover{
  color:#fff !important;
  background-color: #7E8DA9 !important;
}