.main {
  height: 14.96731rem;
  flex-shrink: 0;
  background: rgba(23, 28, 37, 0.5);
  backdrop-filter: blur(6px);
  background-image: url("/images/premier-league.png");
  background-repeat: no-repeat;
  background-size: cover;
  outline: 2px solid #314161;
  margin: 5px;
  border-radius: 10px;
  position: relative;
}

.rowtitle {
  position: relative;
}

.matchtitle {
  color: #ffffff;
  margin: 0 auto;
  top: 40%;
  position: absolute;
  text-align: center;
}

.result {
  color: #ffffff;
  margin: 0;
  top: 55%;
  position: absolute;
  text-align: center;
  gap: 5px;
  width: 100%;
}

.title {
  color: #ffffff;
  padding: 5px;
  font-size: 1rem;
  text-align: left;
  position: absolute;
  left: 24px;
  top: 24px;
  font-family: Poppins;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.title img {
  margin-right: 5px;
}

.textnumber {
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 0.5rem;
  background: #050e1e;
  color: #ffffff;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
}

.lastline {
  color: #ffffff;
  margin: 0;
  top: 80%;
  position: absolute;
  width: 100%;
  gap: 5px;
  padding: 0 5px;
}

.lineResult {
  height: 2.1875rem;
  font-size: 0.875rem;
  background-color: rgb(5, 14, 30, 0.69);
  border-radius: 0.5rem;
  line-height: 2.1875rem;
}
